<h1>クラス一覧</h1>
<p>　登録されたクラス一覧です。</p>

<div class="classrooms text-center spacing-sm">
  <table class="table">
    <% @classrooms.in_groups_of(5).to_a.each do | grade | %>
      <tr>
        <% grade.each do | classroom | %>
          <td><%= classroom.class_id %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>