<h1>学生一覧</h1>

<%= link_to '登録漏れはこちらから', students_new_path %>

<%
  # classify
  if @students.first.grade.between?(1, 2)
    @students = @students.group_by(&:class_id)
    students_keys = @students.keys.map { |key| "#{key}組" }
    students      = @students.values
  elsif @students.first.grade.between?(3, 5)
    @students = @students.group_by(&:dept)
    students_keys = @students.keys.map { |key| "#{key}科" }
    students      = @students.values
  end

  # fill with nil to equalize each array len
  max_length = students.map(&:size).max
  students.map do |classified_students|
    padding = [nil] * [max_length - classified_students.size, 0].max
    classified_students.concat(padding)
  end

  # students:
  #
  # [[13101, 13102, ..., 13139, 13140]
  #  [13201, 13202, ..., 13139, nil  ]
  #  ...
  #  [13501, 13502, ..., 13539, 13540]]
  #

  students = students.transpose

  # students:
  #
  # [[13101, 13202, ..., 13501]
  #  [13102, 13202, ..., 13502]
  #  ...
  #  [13139, 13239, ..., 13539]
  #  [13140, nil  , ..., 13540]]
  #
%>

<table class="table">
  <thead>
    <tr>
      <% students_keys.each do |students_key| %>
        <th><%= students_key %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% students.each do |column| %>
      <tr>
        <% column.each do |student| %>
          <td class="<%= (student&.attended?) ? "success" : "" %>"><%= student&.student_id %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
