<div class="text-center spacing-ml">

<%= link_to '個人を抽選', lottery_result_path,    method: :get, class: "btn btn-exlg btn-default" %>
<%= link_to 'クラス抽選', lottery_classroom_path, method: :get, class: "btn btn-exlg btn-default" %>

</div>

