<div class="text-center exlg spacing-md">
<p id="js_winner_number"><%= @winner&.student_id %></p>

<%= button_to '次の番号', lottery_result_path, method: 'get', class: "btn btn-lg btn-default" %>
</div>


<script>
var winnerNumber = document.getElementById('js_winner_number');
console.log(winnerNumber.innerText);
var randomText = new RandomText(winnerNumber).start();
</script>