
<div class="text-center spacing-sm">
<h1 class="lg"><span class="glyphicon glyphicon-barcode" style="font-size: 90%;"></span>  学生証をスキャン</h1>
</div>

<div class="text-center spacing-ty info">
<p>スキャナーに裏面バーコード部を触れてください</p>
<p class="eng">Please hold a barcode on the back of student card close to a scanner.</p>
</div>

<div class="row spacing-md">
  <div class="col-md-6 col-md-offset-3">
    <%= form_tag('/students/scan', method: :post ) do %>
      <div class="form-group spacing">
        <%= text_field :student, :student_id, class: "form-control input-exlg text-center" %>
      </div>
      <%= submit_tag "Submit", class: "btn btn-primary hidden" %>
    <% end %>
  </div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/jsbarcode/3.5.1/JsBarcode.all.min.js"></script>
<script type="text/javascript">
// var words = '';
// var scanning = false;
// $(document).keypress(function(e) {
//   if (e.charCode == 13) {
//     if (scanning) {
//       console.log(words);
//       $('#stuid').html(words).change();
//       words = '';
//       scanning = false;
//     } else {
//       scanning = true;
//     }
//     return false;
//   }
//   if (scanning) {
//     var key = String.fromCharCode(e.charCode);
//     words = words + key;
//   }
// });

$(function() {
  setTimeout(function() {
    $('.alert').animate( { height: 'toggle', opacity: 'toggle' } );
    // $('.alert').hide();
  }, 3500);
});

$(function () {
  document.getElementById('student_student_id').focus();
});
</script>
