/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(https://fonts.googleapis.com/css?family=Antic+Slab|Cutive);

body {
  height: 100%;
  margin: 0;
  font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",'メイリオ',Meiryo,Helvetica,Arial,Sans-Serif;
  -webkit-font-smoothing: antialiased;
}

#title {
  margin-top: 8em;
  font-family: "Cutive"
}

.title-color {
  /*color: #4EBE9A;*/
}

.color-red {
  color: #DA3466;
}

.section-title {
  margin-left: 2em;
  margin-top: 2em;
  margin-bottom: 0.6em;
}

.section-text {
  margin-left: 5.5em;
}

/*.like-pre {
  width: 80%;
  margin: 0 auto;
  padding: 10px 5px;
  border-radius: 3px;
  border: 1px solid #CCC;
  background-color: #DDD; 
}*/

pre {
  width: 80%;
  margin: 0 auto;
}

.huge {
  font-size: 60px;
}

i {
  margin-right: 3px;
}
