// Place all the styles related to the students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.input-exlg {
  height: 92px;
  padding: 20px 32px;
  font-size: 36px;
  line-height: 2.666666;
  border-radius: 12px;
}

.spacing {
  margin-top: 20%;
}