// Place all the styles related to the students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.input-exlg {
  height: 92px;
  padding: 20px 32px;
  font-size: 36px;
  line-height: 2.666666;
  border-radius: 12px;
}

.btn-exlg {
  padding: 96px 32px;
  font-size: 36px;
  line-height: 1.3333333;
  border-radius: 12px;
}

.spacing-lg {
  margin-top: 20%;
}

.spacing-ml {
  margin-top: 15%;
}

.spacing-md {
  margin-top: 10%;
}

.spacing-sm {
  margin-top: 5%;
}

.spacing-ty {
  margin-top: 2%;
}

.lg {
  font-size: 54px;
}

.exlg {
  font-size: 1400%;
}

.eng {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.info {
  font-size: 18px;
}