<div class="text-center spacing-md">
<p class="exlg"><%= @winner&.abbr %></p>

<%= button_to '次のクラス', lottery_classroom_path, method: 'get', class: "btn btn-lg btn-default" %>
</div>

<div class="text-center spacing-ty">
<%= link_to '当選クラス一覧', lottery_result_path, class: "btn btn-lg btn-default" %>
</div>
