<%= link_to '抽選トップページ', lottery_path %>

<!-- students -->
<div class="text-center">
  <h2>当選番号</h2>
  <% if @winners.empty? %>
    <div>
      <p class="info spacing-ty">当選番号はまだありません</p>
    </div>
  <% else %>
    <table class="table table-striped">
      <% @winners.in_groups_of(3) do |numbers| %>
        <tr>
          <% numbers.each do |number| %>
            <td><%= number %></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>

<div class="spacing-sm"></div>

<div class="text-center">
  <h2>当選クラス</h2>
  <% if @classes.empty? %>
    <div>
      <p class="info spacing-ty">当選クラスはまだありません</p>
    </div>
  <% else %>
    <table class="table table-striped">
      <% @classes.in_groups_of(3) do |row| %>
        <tr>
          <% row.each do |classroom| %>
            <td><%= classroom&.abbr %></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>
