<%= link_to '抽選トップページ', lottery_path %>

<!-- students -->
<div class="text-center">
  <h2>当選番号</h2>
  <table class="table table-striped">
    <% @winners.each_slice(3) do |numbers| %>
      <tr>
        <% numbers.each do |number| %>
          <td><%= number %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>

<div class="spacing-sm"></div>

<div class="text-center">
  <h2>当選クラス</h2>
  <table class="table table-striped">
    <% @classes.each_slice(3) do |ids| %>
      <tr>
        <% ids.each do |id| %>
          <td><%= id %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
