<div id="wrapper" class="text-center">


<div id="title" class="text-center">

<!-- pattern 1 -->
<!-- <h1 class="huge">
5031
<span class="title-color">Y</span>orusai
<span class="title-color">E</span>ntrance
</h1> -->

<!-- pattern 2 -->
<h1 class="huge">
5031<br>
<span class="title-color">y</span>orusai<br>
<span class="title-color">e</span>ntrance
</h1>

<!-- pattern 3 -->
<!-- <p>5031</p>
<p><span class="title-color">Y</span>orusai</p>
<p><span class="title-color">E</span>ntrance</p>

 -->

</div>


<div class="text-center like-pre">
<pre>
<code class="color-red">yorusai entrance</code> is visiter management and support system for 5031.
</pre>
</div>

</div>