<h1>利用方法</h1>

<p>長野高専文化祭 夜祭を支援するウェブサービスyorusai-enrtanceが提供する機能についてのページです。</p>

<hr>

<div id="content" class="text-left">
<section>
<h2 class="section-title">入場管理</h2>
<p class="section-text">入場時に学生証裏のバーコードを読んで入場者を記録する機能です。<%= link_to '学生証スキャナ', students_scan_path %>を開いた状態でバーコードリーダーから学籍番号を入力してください。</p>
<p class="section-text">認証に用いるデータベースをあらかじめ登録する必要があります(<%= link_to '全体設定', current_admin %>)</p>
</section>

<section>
<h2 class="section-title">抽選</h2>
<p class="section-text">来場者の中からルーレットで1件抽出します</p>
</section>


<section>
<h2 class="section-title">データ解析</h2>
<p class="section-text">入場時間や入場者の学年等からデータを可視化します。</p>
</section>


</div>