<h1>利用方法</h1>

<p>長野高専文化祭 夜祭を支援するウェブサービスyorusai-enrtanceが提供する機能についてのページです。</p>

<hr>

<div id="content" class="text-left">
<section>
<h2 class="section-title">入場管理</h2>
<p class="section-text">入場時に学生証裏のバーコードを読んで入場者を記録する機能です。<%= link_to '学生証スキャナ', students_scan_path %>を開いた状態でバーコードリーダーから学籍番号を入力してください。</p>
<p class="section-text">認証に用いるデータベースをあらかじめ登録する必要があります。設定は<%= link_to '全体設定', current_admin %>から行うことができます。</p>
</section>

<section>
<h2 class="section-title">抽選</h2>
<p class="section-text">来場者の中から<%= link_to 'ルーレット', lottery_path %>で1人または1クラスずつ抽出します。</p>
</section>


<section>
<h2 class="section-title">データ解析</h2>
<p class="section-text">入場時間や入場者の学年等からデータを可視化します。</p>
</section>

<section style="padding-bottom: 3%">
<h2 class="section-title">CSVファイルの形式について</h2>
<p class="section-text">次の例にしたがってcsvファイルを準備し、<%= link_to '全体設定', current_admin %>から読み込んでください。</p>

<pre>
# 学籍番号, 学年, 学科名
student_id,grade,classname
12455,5,J,
16153,1,3,
10221,6,専攻科,
14474,3,E,
</pre>

</section>

</div>